# This is Git's per-user configuration file.
[user]
	name = Ruairidh Williamson
	email = williamsonruairidh@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub

[core]
	editor = hx
	excludesFile = ~/.gitignore

[url "ssh://git@github.com/williamsonruairidh"]
	insteadOf = https://github.com/williamsonruairidh

[advice]
	addIgnoredFile = false
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
	versions = tag --sort=v:refname
	st = status
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
